GroundingDINO/groundingdino/util/__pycache__/__init__.cpython-310.pyc
GroundingDINO/groundingdino/util/__pycache__/box_ops.cpython-310.pyc
GroundingDINO/groundingdino/util/__pycache__/get_tokenlizer.cpython-310.pyc
GroundingDINO/groundingdino/util/__pycache__/inference.cpython-310.pyc
GroundingDINO/groundingdino/util/__pycache__/misc.cpython-310.pyc
GroundingDINO/groundingdino/util/__pycache__/slconfig.cpython-310.pyc
GroundingDINO/groundingdino/util/__pycache__/utils.cpython-310.pyc
GroundingDINO/groundingdino/util/__pycache__/visualizer.cpython-310.pyc
GroundingDINO/groundingdino/util/__pycache__/vl_utils.cpython-310.pyc
groundingdino_swint_ogc.pth
bert-base-uncased/._config.json
bert-base-uncased/._flax_model.msgpack
bert-base-uncased/._gitattributes.txt
bert-base-uncased/._LICENSE.txt
bert-base-uncased/._model.onnx
bert-base-uncased/._model.safetensors
bert-base-uncased/._pytorch_model.bin
bert-base-uncased/._README.md
bert-base-uncased/._tokenizer_config.json
bert-base-uncased/._tokenizer.json
bert-base-uncased/._vocab.txt
bert-base-uncased/config.json
bert-base-uncased/flax_model.msgpack
bert-base-uncased/gitattributes.txt
bert-base-uncased/LICENSE.txt
bert-base-uncased/model.onnx
bert-base-uncased/model.safetensors
bert-base-uncased/pytorch_model.bin
bert-base-uncased/README.md
bert-base-uncased/tokenizer_config.json
bert-base-uncased/tokenizer.json
bert-base-uncased/vocab.txt
__pycache__/grounding_dino.cpython-310.pyc
__pycache__/hand_eye_map.cpython-310.pyc
__pycache__/realsense.cpython-310.pyc
*.jpg
*.png
chatbot.py
outputs/*
__pycache__/*
sam_vit_h_4b8939.pth
segment_anything/segment_anything.egg-info/dependency_links.txt
segment_anything/segment_anything.egg-info/PKG-INFO
segment_anything/segment_anything.egg-info/requires.txt
segment_anything/segment_anything.egg-info/SOURCES.txt
segment_anything/segment_anything.egg-info/top_level.txt
segment_anything/segment_anything/utils/__pycache__/__init__.cpython-310.pyc
segment_anything/segment_anything/utils/__pycache__/amg.cpython-310.pyc
segment_anything/segment_anything/utils/__pycache__/transforms.cpython-310.pyc

graspnet_baseline/**/__pycache__/**
graspnet_baseline/*.ipynb
graspnet_baseline/**/.ipynb_checkpoints/**
graspnet_baseline/*.npy
graspnet_baseline/*.npz
graspnet_baseline/**/.vscode/**
graspnet_baseline/**/grasp_label*/**
graspnet_baseline/**/log*/**
graspnet_baseline/**/dump*/**
graspnet_baseline/**/build/**
graspnet_baseline/*.o
graspnet_baseline/*.so
graspnet_baseline/*.egg
graspnet_baseline/**/*.egg-info/**
graspnet_baseline/logs
graspnet_baseline/dataset/tolerance
URRobot/__pycache__/__init__.cpython-310.pyc
URRobot/__pycache__/chingtek.cpython-310.pyc
URRobot/__pycache__/UR_Robot.cpython-38.pyc
URRobot/__pycache__/UR_Robot.cpython-310.pyc
URRobot/__pycache__/util.cpython-38.pyc
URRobot/__pycache__/util.cpython-310.pyc
URRobot/utils/__pycache__/__init__.cpython-38.pyc
URRobot/utils/__pycache__/__init__.cpython-310.pyc
URRobot/utils/__pycache__/chingtek.cpython-38.pyc
URRobot/utils/__pycache__/chingtek.cpython-310.pyc
URRobot/utils/__pycache__/transform_util.cpython-38.pyc
URRobot/utils/__pycache__/transform_util.cpython-310.pyc
URRobot/utils/__pycache__/UR_Robot.cpython-38.pyc
URRobot/utils/__pycache__/UR_Robot.cpython-310.pyc
